<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Boostr</title>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="aboutHero">
        <nav class="navbar">
        <a href="/"><img id="logo" src="images/boosterLogo.png" alt = "Booster logo"></a>
          <a href="/about"><button>About</button></a>
            <a href="/join"><button>Join</button></a>
            <a href="mailto:i.omunga@alustudent.com"><button>Contact</button></a>
            <a href="/login"><button><span id="login-cta">Log In</span></button></a>
        </nav>
    </div>

    <h1>I'm looking for a</h1>
    <a href="/join"></a><input id="cta1" type="text" placeholder="Search"></a>

    <div class="mentors">
      <span class="quote", id="test1">
        <img class="social" id="twitter" src="images/twitter.png" alt="twitter">
        <img class="social" id="mail" src="images/mail.png" alt="mail">
        <img class="social" id="linkedin" src="images/linkedin.png" alt="linkedin">
        <p>
          Jenna
        </p>
        <img class="verified" src="images/verifiedBadge.png" alt="verified">
        <br>
        <p id="name-1">
          Legal Counsel @ BCG
        </p>
        <img class="quote-btn" src="images/matchBtn.png" alt="match1">
      </span>
          <span class="quote", id="test2">
            <img class="social" id="twitter" src="images/twitter.png" alt="twitter">
            <img class="social" id="mail" src="images/mail.png" alt="mail">
            <img class="social" id="linkedin" src="images/linkedin.png" alt="linkedin">
            <p>
              Wanja
            </p>
            <img class="verified" src="images/verifiedBadge.png" alt="verified">
            <br>
            <p id="name-2">
              ML Engineer @ NVIDIA
            </p>
            <img class="quote-btn" src="images/matchBtn.png" alt="match2">
          </span>
      <span class="quote", id="test3">
        <img class="social" id="twitter" src="images/twitter.png" alt="twitter">
        <img class="social" id="mail" src="images/mail.png" alt="mail">
        <img class="social" id="linkedin" src="images/linkedin.png" alt="linkedin">
        <p>
          Alexis
        </p>
        <img class="verified" src="images/verifiedBadge.png" alt="verified">
        <br>
        <p id="name-3">
          Sociologist @ GCU
        </p>
        <img class="quote-btn" src="images/matchBtn.png" alt="match3">
      </span>
  </div>

          <!-- Mentor Card displaying tabular dynamic data-->
        <div class="mentor-card">

        </div>

        <div class="footer">
          <h2>Sign up for More.</h2>
          <p id="sub-1">Find Mentors for careers, resumes, interviews and <br> everything in between.</p>
          <a href="/join"><button id="cta2">Sign Up</button></a>

          <span class="siteLink", id="col-1">
            <p> FEATURED </p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/join">Join</a>
            <a href="mailto:i.omunga@alustudent.com">Contact</a>
            <a href="/login">Log In</a>
          </span>
                <span class="siteLink", id="col-2">
                  <p> SEARCH </p>
                  <a href="#">Careers</a>
                  <a href="#">Resumes</a>
                  <a href="#">Interviews</a>
                  <a href="#">Locations</a>
                  <a href="#">Preferences</a>
                </span>
                    <span class="siteLink", id="col-3">
                      <p> INFORMATION </p>
                      <a href="#">Team</a>
                      <a href="#">Careers</a>
                      <a href="#">Contacts</a>
                      <a href="#">Changelog</a>
                      <a href="#">Partners</a>
                </span>
                <p id="mast">
                  Ian Omung'a | S2110910 • Copyright ⓒ 2023 Boostr Inc, All rights reserved.
                </p>
        </div>
</body>
</html>
