<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boostr - Student Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/studentDashboard.css">

</head>
<body>
    <div class="aboutHero">
        <nav class="navbar">
        <a href="/"><img id="logo" src="images/boosterLogo.png" alt = "Booster logo"></a>
          <a href="/about"><button>About</button></a>
            <a href="/join"><button>Join</button></a>
            <a href="mailto:i.omunga@alustudent.com"><button>Contact</button></a>
            <a href="/login"><button><span id="login-cta">Log In</span></button></a>
        </nav>
    </div>

    <h2 class="form-title">Student Actions</h2>

    <div class="student-container">
      <form class="student-form" id="studentForm" action="/action" method="POST">
          
          <div class="form-group" id="actionField">
              <select name="action" id="actionSelect" required>
                  <option value="">Select Action</option>
                  <option value="displayMentors">Display all Mentors</option>
                  <option value="addMentor">Add a New Mentor</option>
                  <option value="displayMentorByName">Display Mentor by Name</option>
                  <option value="updateMentor">Update a Mentor</option>
                  <option value="deleteMentor">Delete a Mentor</option>
              </select>
          </div>
  
          <!-- Additional fields to be displayed based on selection -->
          <div class="form-group" id="nameField" style="display: none;">
              <input type="text" name="name" placeholder="Name" required>
          </div>
  
          <div class="form-group" id="emailField" style="display: none;">
              <input type="text" name="email" placeholder="Email Address" required>
          </div>
  
          <div class="form-group" id="submitField" style="display: none;">
              <button type="submit">Execute Action</button>
          </div>
      </form>
  </div>
  
  <div id="data-card">
      <!-- Data output will be displayed here as a table -->


  </div>
  
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/studentDashboard.js"></script>
</html>
